{% load static %}

<!DOCTYPE html>
<html>
<head>
    <style>
        .font-comic{
            font-family: "Comic Sans", cursive;
        }
    </style>
</head>
<body>
<div class = "row">
    <div class = "column">
        <img src = "/static/website/images/ugly_meeuw.png" alt="Kakaaaa! I am a meeuw!" align = "left" > 
    </div>
    <div class = "column">
        <h1 class = "font-comic" style="font-size:6vw">Error: The webmasters can do a lot, but not everything.</h1>
        <p class = "font-comic" style="font-size:4vw">Is it problematic? Send us an email at webmaster@bfrisbee2s.nl</p>
    </div>
</div>

</body>
</html>
