{% extends 'page.html' %}
{% load cms_tags i18n static events_datetimerange tz %}

{% block title %}
    {{ object.name }}
{% endblock title %}

{% block pagetitle %}
    {{ object.name }}
    <h4 class="text-center">
        {% if object.show_end_date %}
            {% daterange object.start_date object.end_date %}
        {% else %}
            {{ object.start_date|date:"d F" }}
        {% endif %}
    </h4>
{% endblock pagetitle %}

{% block content %}
    <div class="row mb-3">
        <div class="w-100">
            <img src="{{ object.image.url }}" class="rounded img-fluid shadow w-100">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 d-flex align-items-center">
            <i class="fa-regular fa-clock pe-2 fs-3"></i>
            <p class="fw-bold fst-italic fs-6 m-0">
                {% if object.show_end_date %}
                    {% datetimerange object.start_date object.end_date %}
                {% else %}
                    {{ object.start_date|date:"G:i" }}
                {% endif %}
            </p>
        </div>
        <div class="col-4 d-flex align-items-center">
            <i class="fa-solid fa-location-dot pe-2 fs-3"></i>
            <p class="fw-bold fst-italic fs-6 m-0">{{ object.location }}</p>
        </div>
        <div class="col-4 d-flex align-items-center">
            <i class="fa-solid fa-euro-sign pe-2 fs-3"></i>
            <p class="fw-bold fst-italic fs-6 m-0">
                {% if object.cost %}{{ object.cost }}{% else %}{% trans "free"|capfirst %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row ms-0 me-1 mb-3">
        <div class="rounded event-description">{% render_placeholder object.description %}</div>
    </div>
    <div class="row mb-3">
        {% if user.is_authenticated and object.limit %}
            {% if registration %}
                <form action="{% url "events:unregister" object.pk %}" method="post">{% csrf_token %}
                    <div class="btn-group w-100">
                        <button class="btn btn-outline-primary fw-bold" name="unregister" value="unregister">
                            {% trans "unregister"|capfirst %}
                        </button>
                        {% if object.form_link %}
                            <a class="btn btn-outline-primary fw-bold" href="{% url "events:form" object.pk %}">
                                {% trans "Change form" %}
                            </a>
                        {% endif %}
                    </div>
                </form>
            {% else %}
                <form action="{% url "events:register" object.pk %}" method="post">{% csrf_token %}
                    <button class="btn btn-outline-primary fw-bold w-100" name="register" value="register"
                            {% if object.registration_set.all|length >= object.limit %} disabled>
                                {% trans "Full" %}
                                {% elif object.registration_start and object.registration_start > now %} disabled>
                                {% trans "Not opend" %}
                                {% elif object.registration_end and object.registration_end < now %} disabled>
                                {% trans "Closed" %}
                            {% else %}>
                                {% trans "register"|capfirst %}
                            {% endif %}
                    </button>
                </form>
            {% endif %}
            {% if object.registration_end %}
                <div class="mt-1">
                    <p>
                        {% if object.registration_start and object.registration_start > now %}
                            <small>
                                {% trans "registrations open at"|capfirst %} {{ object.registration_start }}
                            </small>
                            <br>
                        {% endif %}
                        <small>
                            {% trans "registrations close at"|capfirst %} {{ object.registration_end }}
                        </small>
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if object.registration_end %}
    <div class="row">
        <div class="col">
            <h4>{% trans 'registrations'|capfirst %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fw-bold{% if object.registration_set.all|length >= object.limit and registration is None %} text-danger{% endif %}">
                <i class="fa-solid fa-people-group fs-5"></i> {{ object.registration_set.all|length }}/{{ object.limit }}
            </p>
        </div>
    </div>
    {% if user.is_authenticated and not object.private_registrations %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        {% for reg in object.registration_set.all %}
            <div class="col">
                <a href="{{ reg.user.member.get_absolute_url }}" class="text-decoration-none text-reset">
                    <div class="card display-card mb-4 shadow">
                        <div class="display-card-image card-img-top overflow-hidden" style="
                                {% if reg.user.member.profile_picture %}
                                    background-image: url('{{ reg.user.member.profile_picture.url }}');
                                {% else %}
                                    background-image: url('{% static "website/images/logo.svg" %}');
                                {% endif %}">
                        </div>
                        <div class="card-body">
                            <h5 class="text-center card-title ellipses">{{ reg.user.first_name }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}

{% endblock content %}