{% extends "page.html" %}
{% load i18n static %}

{% block extracss %}
    <link href="{% static 'events/fullcalendar/main.css' %}" rel='stylesheet'/>
{% endblock extracss %}

{% block extrajs %}
    <script src="{% static 'events/fullcalendar/main.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                events: [
                    {% for event in object_list %}
                        {
                            title: '{{ event.name }}',
                            start: '{{ event.start_date.isoformat }}',
                            end: '{{ event.end_date.isoformat }}',
                            url: '{% url 'events:detail' pk=event.pk %}'
                        }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
                initialView: 'timeGridWeek',
                headerToolbar: {
                    left: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek',
                    center: 'title',
                    right: 'prevYear,prev,next,nextYear'
                },
                footerToolbar: {
                    left: '',
                    center: '',
                    right: 'prev,next'
                },
            });
            calendar.render();
        });
    </script>
{% endblock extrajs %}

{% block pagetitle %}{% trans "Events" %}{% endblock pagetitle %}

{% block content %}
    <div id='calendar'></div>
{% endblock content %}
