.display-card {
  min-width: calc(max(20vw, 250px));
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 2rem 4rem rgba($black, .3);
  }

  .display-card-image {
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
  }

  .display-card-image-check {
    height: 100%;
    width: 100%;
    background: linear-gradient(132deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 100%);

    i {
      color: $primary;
      position: absolute;
      top: 10px;
      left: 16px;
    }
  }
}

.ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-description {
  background: $secondary;
  padding: 1rem;

  &:empty {
    display: none;
    background: transparent;
    padding: 0;
  }
}