h1 {
  text-shadow: 4px 4px 4px rgba($black, 0.25);
}

.btn-primary, .btn-secondary, .btn-info {
  &, &:hover {
    color: $light;
  }
}

.btn-outline-primary:hover {
  color: $light;
}

.btn-outline-primary {
  color: $primary;
}

.container-padding {
  @include media-breakpoint-up(md) {
    padding: 5rem 10rem;
  }
  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
}

.ws-nowrap {
  white-space: nowrap;
}

.page-content {
  img {
    max-width: 100%;
  }
}

.font-special {
  font-family: $font-family-special;
}

.keep-above {
  z-index: 100;
}

.keep-below {
  z-index: 0;
}