h1 {
  text-shadow: 4px 4px 4px rgba($black,0.25);
}

.btn{
  color: $light;
}

.bg-fade{
  background: linear-gradient(
                  180deg,
                  $white .5rem,
                  #{fade-out($white, 1)} 5rem,
                  #{fade-out($white, 1)} 100%
    );
}

.container-padding {
  padding-right: 10rem !important;
  padding-left: 10rem !important;
}

.ws-nowrap {
  white-space: nowrap;
}
