.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
                  185deg,
                  #{fade-out($white, 1)} 0%,
                  #{fade-out($white, 1)} 60%,
                  $white 85%
    ),
    url(unquote(get-setting(STATIC_URL) + "website/images/header_brosa.jpg"));
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    color: $blue;
  }

  .highlight {
    color: $orange;
  }

  @include media-breakpoint-up(md) {
        h1 {
            font-size: 4rem;
            line-height: 4rem;
        }
    }
    @include media-breakpoint-up(lg) {
        height: 100vh;
        padding: 0;
        h1 {
            font-size: 6.5rem;
            line-height: 6.5rem;
            letter-spacing: 0.8rem;
        }
        h2 {
            max-width: 30rem;
            font-size: 1.25rem;
        }
    }
}