.masthead {
  position: relative;
  width: 100%;
  height: auto;

  h1 {
    color: $ternary;
  }

  .highlight {
    color: $primary;
  }

  .lang_change button img {
    width: 30px;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.fullpage {
  min-height: 35rem;
  height: calc(100vh - #{$navbar-padding-y * 4 + $font-size-base} - 1rem );
  padding: 0;
  background: linear-gradient(
                  0deg,
                  $white 5rem,
                  #{fade-out($white, 1)} 16rem,
                  #{fade-out($white, 1)} 100%

    );
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  .logo {
    height: auto;
    position: absolute;
    left: 1rem;
  }

  @include media-breakpoint-down(sm) {
    height: calc(80vh - 3rem) !important;
    .logo {
      width: 5rem;
      left: 77vw;
      bottom: 38vh;
    }
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .logo {
      width: 4rem;
      bottom: 1rem;
    }
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  @include media-breakpoint-up(md) {
    .logo {
      width: 6rem;
      bottom: 1rem;
    }
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .logo {
      width: 9rem;
      bottom: 1rem;
    }
    h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
      h2 {
          max-width: 30rem;
          font-size: 1.25rem;
      }
  }
}

.banner {
  min-height: 10rem;
  padding: 0;
  background: linear-gradient(
                  0deg,
                  $white 0.5rem,
                  #{fade-out($white, 1)} 8rem,
                  #{fade-out($white, 1)} 100%

    ),
    url(unquote(get-setting(STATIC_URL) + "website/images/banner_iedereen.jpg"));

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  .logo {
    height: auto;
    position: absolute;
    bottom: .5rem;
    left: 1rem;
  }

  @include media-breakpoint-down(md) {
    height: 2rem;
    .logo {
      width: 50px;
    }
  }
  @include media-breakpoint-up(md) {
    height: 5rem;
    h1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .logo {
      width: 100px;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 15rem;
    h1 {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.2rem;
    }
    h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
    .logo {
      width: 150px;
    }
  }
}