.navbar-nav {
  .toplevel {
    position: relative;

    &:not(:first-child):before {
      content: "";
      position: absolute;
      top: 0.8rem;
      height: 1rem;
      border-right: 2px solid $primary;
    }
  }

  .nav-item {
    font-family: $font-family-special;
    text-shadow: 2px 2px 2px rgba($black, 0.25);

    .home {
      color: $ternary !important;

      &:hover {
        color: $ternary;
      }
    }

    .dropdown-menu {
      width: calc(100% + 2px);
      top: calc(100% - 0.7rem);

      border-top: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}