.reorder-elements {
  @include media-breakpoint-down(lg) {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse !important;
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: wrap !important;
  }
}

.navbar-nav {
  .nav-item {
    position: relative;
    font-family: $font-family-special;
    text-shadow: 2px 2px 2px rgba($black, 0.25);
    word-break: break-word;

    .home {
      color: $ternary !important;

      &:hover {
        color: $ternary;
      }
    }

    @include media-breakpoint-down(lg) {
      .dropdown-menu {
        border: 0;
        box-shadow: none;
        margin-left: 15px;

        .nav-item:first-child .border-top {
          border-top: none !important;
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .dropdown-menu {
        border-top: 0px;
        border-width: 2px;
        border-color: $primary;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        top: calc(100% - .8rem);
        width: calc(100% + 2px);
      }

      .dropdown-toggle {
        min-width: 10rem;
        padding-right: 1.8rem;

        &:after {
          position: absolute;
          left: calc(100% - 25px);
          bottom: 1em;
          display: inline-block;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .toplevel:not(:first-child):before {
        content: "";
        position: absolute;
        bottom: .6rem;
        height: 1rem;
        border-right: 2px solid $primary;
      }
  }
}