$blue: #233D7A;
$orange: #FF8023;
$white: #FFF;
$black: #000;
$gray-dark: #4A4A4A;
$red: #FC0101;
$gray-light: #E6E6E6;

$primary: $orange;
$secondary: $blue;
$danger: $red;

$font-family-special: "sports_world", serif;
$font-family-base: "Calibri", sans-serif;
