{% extends "page.html" %}
{% load i18n bootstrap5 sass_tags %}

{% block title %}{% trans "Forgot password" %}{% endblock title %}
{% block pagetitle %}{% trans "Forgot password" %}{% endblock pagetitle %}

{% block content %}

<div class = "mb-4">
    <center>{% translate 'Enter your email address below, and we’ll email instructions for setting a new one.' %}</center>
</div>
<form method="post" class="col-lg-4 offset-lg-4">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"> <!-- needed here or not?-->
<div>
    <div class="row mb-3 field-email" >
        {{ form.email.errors }}
        <input name="{{ form.email.name }}" autofocus class="form-control"
               placeholder="{{ form.email.label }}">
    </div>

    <div class="row mb-3">
        <input type="submit"  value="{% trans "Send email" %}" class="btn btn-primary float-right">
    </div>
</form>
{% endblock content %}
