{% extends "page.html" %}
{% load i18n bootstrap5 sass_tags %}

{% block title %}{% trans "Password reset complete" %}{% endblock title %}
{% block pagetitle %}{% trans "Password reset complete" %}{% endblock pagetitle %}

{% block content %}
<div class = "mb-4">
    <center>{% translate 'Your password has been set. You can sign in with your new password now!' %}</center>
</div>
<div class="row mb-2"><center>
    <a href="{{ login_url }}" class="btn btn-primary">{% translate 'Sign in' %}</a>
</center></div>
    
{% endblock content %}
