{% extends "page.html" %}
{% load i18n bootstrap5 sass_tags %}

{% block title %}{% trans "Reset password" %}{% endblock title %}
{% block pagetitle %}{% trans "Reset password" %}{% endblock pagetitle %}

{% block content %}

<div class="mb-4 text-center">{% translate 'Please enter your new password below.' %}
</div>

<form method="post" class="col-lg-6 offset-lg-3">
    {% csrf_token %}
    <div class="row mb-2 field-password1" >
        <input name="{{ form.new_password1.name }}" type="password" autofocus class="form-control pwd {% if form.new_password1.errors %}is-invalid{% endif %}"
               placeholder="{% translate 'New password' %}">
        {% if form.new_password1.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password1.errors %}
                    {{ error }}
                {% endfor %}
             </div>
        {% endif %}
    </div>

    <div class="row mb-3 field-password2" >
        <input name="{{ form.new_password2.name }}" type="password" autofocus class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
               placeholder="{% translate 'Confirm password' %}">
        {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password2.errors %}
                    {{ error }}
                {% endfor %}
             </div>
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <div class="row mb-3">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row mb-3">
        <input type="submit"  value="{% trans "Change my password" %}" class="btn btn-primary float-right">
    </div>
</form>
{% endblock content %}
