{% extends "page.html" %}
{% load i18n bootstrap5 sass_tags %}

{% block title %}{% trans "Password reset complete" %}{% endblock title %}
{% block pagetitle %}{% trans "Password reset complete" %}{% endblock pagetitle %}

{% block content %}
<div class = "mb-4 col-8 offset-2"
    <center>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br> If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</center>
</div>

    
{% endblock content %}
