{% extends "page.html" %}
{% load i18n bootstrap5 sass_tags %}

{% block title %}{% trans "Forgot password" %}{% endblock title %}
{% block pagetitle %}{% trans "Forgot password" %}{% endblock pagetitle %}

{% block content %}

<div class = "mb-4">
    <center>{% translate 'Enter your email address below, and we’ll email instructions for setting a new one.' %}</center>
</div>
<form method="post" class="col-lg-4 offset-lg-4">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"> <!-- needed here or not?-->

    <div class="row mb-3 field-email">
        <input name="{{ form.email.name }}" autofocus class="form-control {% if form.email.errors %}is-invalid{% endif %}"
               placeholder="{{ form.email.label }}">
        {% if form.email.errors %}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
             </div>
        {% endif %}
    </div>

    {% if form.non_field_errors %}
        <div class="row mb-3">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row mb-3">
        <input type="submit"  value="{% trans "Send email" %}" class="btn btn-primary float-right">
    </div>
</form>
{% endblock content %}
