{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        .font-comic{
            font-family: "Comic Sans", cursive;
        }
    </style>
</head>
<body>
    <!-- /home/rosa/bf2-www/website/website/static/website/images/ugly_meeuw.png
    website/website/static/website/images/ugly_meeuw.png -->
    <!-- ../../static/website/images/ugly_meeuw.png -->
<img src = "{% static 'website/images/ugly_meeuw.png' %}" alt="Kakaaaa! I am a meeuw!" > 
<h1 class = "font-comic">Error: The webmasters can do a lot, but not everything.</h1>
<p class = "font-comic">Is it problematic? Send us an email at webmaster@bfrisbee2s.nl</p>

</body>
</html>
