{% load i18n bootstrap5 sass_tags static %}
 
 <!DOCTYPE html>
 <html>
 <head>
     <style>
         .font-comic{
             font-family: "Comic Sans", cursive;
         }
     </style>
 </head>
 <body>
 <div class = "row">
     <div class = "column">
         <img src = "/static/website/images/ugly_meeuw.png" alt="Kakaaaa! I am a meeuw!" align = "left" > 
     </div>
     <div class = "column">
         <h1 class = "font-comic" style="font-size:4vw"><br>{% trans "Oops! This page does not exist..." %}</h1>
         <p class = "font-comic" style="font-size:2vw"> 
            {% blocktrans with link="https://www.bfrisbee2s.nl/" %} Click <a href= "{{ link }}">here</a> to go back to the main page.{% endblocktrans %}</p>
     </div>
 </div>
 
 </body>
 </html>
 
