{% load cms_tags static sekizai_tags i18n bootstrap5 sass_tags %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% sass_src 'website/scss/main.scss' %}" rel="stylesheet" type="text/css">
        {% render_block "css" %}
        {% block extracss %}{% endblock extracss %}
    </head>
    <body class="bg-secondary d-flex flex-column min-vh-100">
        {% cms_toolbar %}
        {% bootstrap_messages %}
        {% block header %}{% endblock header %}
        <div class="container-fluid bg-fade py-5">
            <div class="container bg-light shadow rounded mt-4 mb-4 p-5">
                <div class= "border-bottom border-primary border-2 row col-6 offset-3 mb-5">
                    <h1 class="text-center section-title">{% block pagetitle %}{% endblock pagetitle %}</h1>
                </div>
                <div class="row">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        <footer class="container-fluid p-5 bg-ternary text-white mt-auto position-relative">
            <div class="row">
                <div class="col-6">
                    <h5>Contact</h5>
                    {% static_placeholder "contact" %}
                </div>
                <div class="col-6">
                    {% trans 'Follow us:' %}
                    <a href="https://www.facebook.com/BFrisBee2s/"><img src="{% static 'website/images/fb.png' %}" alt="{% trans 'Follow us on Facebook' %}" style="width:24px; height:auto; display:inline; margin-right:20px;"></a>
                    <a href="https://www.instagram.com/nsfv_bfrisbee2s/"><img src="{% static 'website/images/insta.png' %}" alt="{% trans 'Follow us on Instagram' %}" style="width:24px; height:auto; display:inline; margin-right:20px;"></a>
                    <p class="text-muted">copyright</p>
                </div>
            </div>
            <h6 class="align-bottom position-absolute bottom-0 end-0">Made by Webmasters</h6>
        </footer>
        {% bootstrap_javascript %}
        {% render_block "js" %}
        {% block extrajs %}{% endblock extrajs %}
    </body>
</html>
