{% load cms_tags static sekizai_tags i18n bootstrap5 sass_tags %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% sass_src 'website/scss/main.scss' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'website/bootstrap-icons-1.5.0/bootstrap-icons.css' %}" rel="stylesheet" type="text/css">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "website/images/icons/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "website/images/icons/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "website/images/icons/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "website/images/icons/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "website/images/icons/safari-pinned-tab.svg" %}" color="#233d7a">
        <meta name="msapplication-TileColor" content="#233d7a">
        <meta name="theme-color" content="#233d7a">

        {% render_block "css" %}
        {% block extracss %}{% endblock extracss %}
    </head>
    <body class="bg-secondary d-flex flex-column min-vh-100">
        {% cms_toolbar %}
        <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x my-3" style="z-index: 9000">
            {% bootstrap_messages %}
        </div>
        {% block header %}{% endblock header %}
        <div class="container-fluid py-5">
            <div class="container bg-light shadow rounded mt-4 mb-4 container-padding page-content">
                {% block pagecontent %}{% endblock pagecontent %}
            </div>
        </div>
        <footer class="container-fluid px-4 py-3 bg-ternary text-white mt-auto position-relative rounded-top shadow">
            <div class="row font-special">
                <div class="col-md-3">
                    {% static_placeholder "footer 1" %}
                </div>
                <div class="col-md-3">
                    {% static_placeholder "footer 2" %}
                </div>
                <div class="col-lg-4">
                    {% static_placeholder "footer 3" %}
                </div>
                <div class="col-lg-2">
                    <div class="float-end">
                        {% static_placeholder "footer socials" %}
                    </div>
                </div>
            </div>
            <h6 class="align-bottom position-absolute bottom-0 end-0 pe-2" onclick="play()">Made by Webmasters</h6>
        </footer>
        {% bootstrap_javascript %}
        {% render_block "js" %}
        <script>
            function play() {
              var audio = new Audio('{% static 'website/sounds/seagull.mp3' %}');
              audio.play();
            }
        </script>
        {% block extrajs %}{% endblock extrajs %}
    </body>
</html>
