{% extends "fullpage.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block pagetitle %}{% page_attribute "page_title" %}{% endblock pagetitle %}

{% block content %}
    <div class="row">
        {% placeholder "content top" %}
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class= "row col-12">
                <h2 class="text-center section-title text-break">{% placeholder "title left" %}</h2>
            </div>
            <div class="border-bottom border-primary border-2  col-6 offset-3 mb-3"></div>
            {% placeholder "content left" %}
        </div>
        <div class="col-lg-6">
            <div class= "row col-12">
                <h2 class="text-center section-title text-break">{% placeholder "title right" %}</h2>
            </div>
            <div class="border-bottom border-primary border-2  col-6 offset-3 mb-3"></div>
            {% placeholder "content right" %}
        </div>
    </div>
    <div class="row">
        {% placeholder "content bottom" %}
    </div>

{% endblock content %}
