{% extends "base.html" %}
{% load cms_tags i18n static %}

{% block header %}
    <header class="masthead fullpage">
        <div class="container-fluid d-flex flex-column h-100 justify-content-end pb-4">
            {% include 'language_changer.html' %}
            <a href="/"><img class="logo" src="{% static "website/images/logo.svg" %}" alt="{% trans "BFrisBee2's logo" %}"></a>
            <div class="mx-auto text-center">
                <a href="/" class="text-decoration-none"><h1>BFrisBee2<span class="highlight">’</span>s</h1></a>
            </div>
        </div>
    </header>
    {% include "topbar.html" %}
{% endblock header %}
