{% extends "base.html" %}
{% load static i18n %}

{% block header %}
    <header class="masthead banner">
        <div class="container-fluid d-flex flex-column h-100 justify-content-end">
            {% include 'language_changer.html' %}
            <a href="/"><img class="logo" src="{% static "website/images/logo.png" %}"
                             alt="{% trans "BFrisBee2's logo" %}"></a>
            <div class="mx-auto text-center">
                <a href="/" class="text-decoration-none"><h1>BFrisBee2<span class="highlight">’</span>s</h1></a>
            </div>
        </div>
    </header>
    {% include "topbar.html" %}
{% endblock header %}

{% block middle %}
    <div class="container py-5">
        {% block content %}{% endblock content %}
    </div>
{% endblock middle %}
