{% load i18n menu_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" role="navigation">
    <div class="container-fluid reorder-elements">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% show_menu 0 1 100 100 "menu.html" %}
            </ul>
        </div>
        <div class="navbar-nav mb-2 mb-lg-0 ms-auto flex-row px-3">
            {% if user.is_authenticated %}
                <div class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'logout' %}">{% trans 'Sign out' %}</a>
                </div>
            {% else %}
                <div class="nav-item pe-4">
                    <a class="nav-link text-primary" href="{% url 'become-a-member' %}">{% trans 'Become a member' %}</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-primary" href="{% url 'login' %}">{% trans 'Sign in' %}</a>
                </div>
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>