{% extends "page.html" %}
{% load i18n static cms_tags events_datetimerange thumbnail %}

{% block title %}{{ object.name }}{% endblock title %}
{% block pagetitle %}{{ object.name }}{% endblock pagetitle %}

{% block content %}
    {% if object.image %}
    <div class="row mb-3">
        <div class="col">
            <div class="w-100">
                <img src="{{ object.image.url }}" class="img-fluid w-100"
                     alt="{% trans 'image for' %} {{ committee.name }}">
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row mb-4">
        <div class="col">
            <div class="p-3 bg-secondary rounded">
            {% render_placeholder object.description %}
            {% if user.is_authenticated %}
                <p class="fw-bold fs-6 mb-0">
                    <a href="mailto:{{ object.email }}" class="link-dark stretched-link">
                        <i class="fa-regular fa-envelope pe-2 fs-6"></i>{{ object.email }}
                    </a>
                </p>
            {% endif %}
        </div>
        </div>
    </div>
    {% if user.is_authenticated and object.show_members %}
        <div class="row">
            <h4>{% trans "members"|capfirst %}</h4>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-3 g-xxl-4">
        {% for membership in committee_memberships %}
            <div class="col">
                <a href="{{ membership.user.member.get_absolute_url }}" class="text-decoration-none text-reset">
                    <div class="card display-card mb-4 shadow">
                        <div class="display-card-image card-img-top overflow-hidden" style="
                                {% if membership.user.member.profile_picture %}
                                    background-image: url('{{ membership.user.member.profile_picture.url }}');
                                {% else %}
                                    background-image: url('{% static "website/images/logo.svg" %}');
                                {% endif %}">
                        {% if membership.chair %}
                                <div class="display-card-image-check">
                                    <i class="fa-solid fa-chair fs-4"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h6 class="text-center card-title ellipses">{{ membership.user.member.name }}</h6>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}
