{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'members/style.css' %}">
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if show_accept_reject_buttons %}
    <div class="submit-row">
            <input type="submit" value="accept" name="_accept">
            <input class="rejectButton" type="submit" value="reject" name="_reject">
    </div>
    {% endif %}
{% endblock %}