{% extends "page.html" %}
{% load i18n static cms_tags events_datetimerange thumbnail %}

{% block title %}{{ object.name }}{% endblock title %}
{% block pagetitle %}{{ object.name }}{% endblock pagetitle %}
{% block pagesubtitle %}{{ object.default_pronouns }}{% endblock pagesubtitle %}

{% block content %}

    <div class="row mb-3">
        <div class="col-6">
            {% if object.profile_picture %}
            <div class="w-100 d-flex justify-content-center px-0">
                <img src="{{ object.profile_picture.url }}" class="rounded img-fluid shadow"
                     alt="{% trans 'image for' %} {{ object.name }}">
            </div>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="row mb-3">
                <h6>{% trans "Committees" %}</h6>
                <ul class="list-group pe-0">
                    {% for membership in committee_memberships %}
                        <li class="list-group-item {% if membership.until is None %}active{% endif %}">
                            <b>{{ membership.committee.name }}</b>{% if membership.chair %} <i class="fa-solid fa-chair"></i>{% endif %}
                            <small class="fst-italic ps-2"> {{ membership.since }}
                            {% if membership.until %}- {{ membership.until }}{% endif %}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if board_memberships %}
                <div class="row mb-3">
                    <h6>{% trans "Boards" %}</h6>
                    <ul class="list-group pe-0">
                        {% for membership in board_memberships %}
                            <li class="list-group-item {% if membership.board.is_current_board %}active{% endif %}">
                                <b>{{ membership.function }} {% trans "of the board of" %} {{ membership.board.start.year }}</b>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if object.bio %}
                <div class="row mb-3 p-3 bg-secondary rounded">
                    <p class="m-0">
                        {{ object.bio }}
                    </p>
                </div>
            {% endif %}
            {% if object.user == request.user %}
                <div class="row mb-3">
                    <a class="btn btn-outline-primary" href="{% url "members:edit" %}">{% trans "Edit profile" %}</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
